body {
    background-color: beige;
    font-family: Arial, sans-serif;
    height: 100vh;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 36px;
    color: red;
}

h2 {
    font-size: 50px;
    color: blue;
}

p {
    font-size: 20px;
    color: black;
}
